<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aula de vue</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  
  <div id="app">
    <h1>Loops</h1>
    <ul>
      <li v-for="(todo, index) in todos" :key="todo.id">
         {{index + ' - ' + todo.title}}: {{todo.complete}}
      </li>
    </ul>

    <!-- tag template é uma espécie de input hidden -->
    <template v-for="(role, nome) in users">
      <p>
        {{nome}} : {{role}}
      </p>
    </template>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="./script.js"></script>
</body>
</html>